# Xcode
build/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# SPM
.swiftpm/
.spm/
Package.resolved
*.xcscmblueprint

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# CocoaPods
Pods/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Signing
*.mobileprovision
*.p12
